.footer {
    background-color: #ffffff;
    color: #0c0b0d;
    padding: 2rem;
    text-align: center;
    font-size: 0.9rem;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.footer p {
    margin: 6px 0;
}

/* First line (copyright text) */
.footer p:first-of-type {
    color: #000000;
}

/* Second line (Facebook link) */
.footer .facebook-link {
    color: #324d96;
    font-weight: 500;
    text-decoration: none;
}

.footer .facebook-link:hover {
    text-decoration: underline;
}
